[user]
name=caseyburns
email=CaseyBurns@users.noreply.github.com


[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[alias]
	s = status
	last  = log -1
    lo = log --oneline
    l5 = log --oneline -5
